<suite name="ParallelTests" parallel="tests" thread-count="2">
    <test name="ChromeTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.automation.tests.GoogleSearchTest"/>
        </classes>
    </test>

    <test name="FirefoxTest">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.automation.tests.GoogleSearchTest"/>
        </classes>
    </test>
</suite>